# Copy this and paste as named '.env'; Change parameters as needed.
# TIP: See 'database' folder

DB_PORT=5432
DB_ADDRESS=localhost
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=yasdb

# App will auto-create a new admin account with these credentials if there is no accounts in records.
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123

# Edge Devices connecting to this app need the API key to make requests...
EDGE_API_KEY=passwordkey123